:root{
 /*Primary*/
 --Tomato: hsl(4, 100%, 67%);

    /*Neutral*/
--Dark-Slate-Grey: hsl(234, 29%, 20%);
--Charcoal-Grey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
}


html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


 body{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Charcoal-Grey);
  margin: 0;
 }

 .contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  height: 35rem;
  background-color: white;
  width: 50rem;
 }

 .contenidoIzq{
  padding: 0rem 3rem;
  margin-bottom: 1.5rem;

 }

 .contenidoIzq__texto h2{
  font-size: 2.5rem;
  color: var(--Charcoal-Grey);
  font-weight: bold;
  margin: 1rem 0 ;

 }

 .contenidoIzq__texto {
  color: var(--Charcoal-Grey);
  font-size: 0.8rem;
  
 }

 .contenidoIzq__texto p{
  margin-bottom: 1.5rem;
 }

 .contenidoIzq__texto ul{
  padding: 0;
  
 }

 .contenidoIzq__texto li{
  list-style: none;
  background-image:url(../assets/images/icon-list.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
 }

 .contenidoIzq_formulario form {
  color: var(--Charcoal-Grey);
  display: flex;
  flex-direction: column;
 }

 .contenidoIzq_formulario label{
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
 }

 .contenidoIzq_formulario input{
  border: 1px solid var(--Grey);
  padding: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
 }

 .contenidoIzq_formulario input:focus-visible{
  outline: var(--Charcoal-Grey) solid 1px;
  
 }

 .button{
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--Charcoal-Grey);
  color: white;
  margin-top: 1.5rem;
  font-weight: bold;
  cursor: pointer;
 }

 .button:hover{
  background: linear-gradient(to left, var(--Tomato), #ff537b);
 }


 .contenidoDer img{
  width: 93%;
 }

 /* Pagina Success    */

 .contenidoMobile{
  width: 275px;
  background-color: white;
  border-radius: 1rem;
  height: 300px;
  padding: 2rem;
  margin: auto;
 }

 .contenidoMobile  img{
  width: 2rem;
  margin-bottom: 1rem;
 }

 .contenidoMobile h2{
  color: var(--Dark-Slate-Grey);
  font-size: 2rem;
  margin: 0;
 }

 .contenidoMobile p{
  font-size: 0.57rem;
  margin-top: 0.8rem;
  color: var(--Charcoal-Grey);
 }

 .contenidoMobile p span{
  font-weight: bold;
  color: var(--Dark-Slate-Grey);
 }

 .contenidoMobile .button{
  margin-top:1rem;
  width: 13rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 0.7rem;
 }
 /* Fin Pagina Success*/

 @media (max-width:376px){
  body{
   height: auto;
  
  }
  
  .contenedor{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0;
    height: auto;
  }

  .contenidoDer img{
    width: 100%;
    margin-bottom: 1rem;
   }

   .contenidoIzq__texto h2{
    font-size: 2.0rem;
   }

   .contenidoIzq{
    padding:0 1.5rem;
   }

   .contenidoIzq__texto p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
   }

   .contenidoIzq__texto li{
    font-size: 1rem;
    line-height: 1.5rem;
    background-size: auto;
    padding-left: 2.5rem;
   }

    /* Pagina Success  */
    .contenidoMobile {
      width: auto;
      height: 100vh;
      border-radius: 0;
    }

    .contenidoMobile h2{
      line-height: 2rem;
    }
     
      .contenidoMobile img {
        width: 3rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
      }

      .contenidoMobile p {
        font-size: 0.8rem;
        margin-top: 1.5rem;
        margin-bottom: 13rem;
        line-height: 1.2rem;
      }

      .contenidoMobile .button {
        margin-top: 1rem;
        width: 16rem;
        padding: 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 0.8rem;
      }
      
     /* Fin Pagina Success*/
 }

@media (min-width:376px) and (max-width:690px){
  .contenedor{
    flex-direction: column-reverse;
    width: 25rem;
    height: 40rem;
    
  }

  .contenidoIzq__texto h2 {
    font-size: 220%;
    margin-top: 0;
  }


  .contenidoDer{
    width: 80%;
    margin: auto;
  }
  .contenidoDer img{
   width: 100%;
  }

  .contenidoIzq_formulario button{
    padding: 0.8rem;
    margin-top: 1rem;
  }

  .contenidoIzq_formulario label{
    margin-top: 0.5rem;
  }

  .contenidoIzq_formulario input{
    padding: 0.7rem;
  }
}